00_infra/opentofu/environments/dev/workflows/www.societe.com by bucket.json.txt
{
  "name": "www.societe.com by bucket",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.for_http }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        144
      ],
      "id": "629c459b-69fd-4786-97c4-7b927d37705e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "div",
        "extractionValues": {
          "values": [
            {
              "key": "dl",
              "cssSelector": "dl",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        960,
        144
      ],
      "id": "3369d484-af7f-4e76-9113-efe87fc323c6",
      "name": "HTML1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "dl",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1184,
        144
      ],
      "id": "321511bf-b545-4c21-b3ad-3c9ce5177d88",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        512,
        144
      ],
      "id": "9dc9e957-1f43-4e43-a86c-2b18f2167eed",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "dl",
        "extractionValues": {
          "values": [
            {
              "key": "dt",
              "cssSelector": "dt"
            },
            {
              "key": "dd",
              "cssSelector": "dd",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1824,
        144
      ],
      "id": "8a19c95d-3ab5-4be1-a402-ddbd94981bcc",
      "name": "HTML2"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "dd",
        "extractionValues": {
          "values": [
            {
              "key": "template",
              "cssSelector": "template"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2048,
        144
      ],
      "id": "be8aacf8-403b-4ec7-a0f8-167cf62c749e",
      "name": "HTML3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "605f05c2-d554-4cd2-8373-5432b923f69d",
              "name": "dt",
              "value": "={{ $('HTML2').item.json.dt }}",
              "type": "string"
            },
            {
              "id": "3f5dfafb-8504-4f60-873f-e4f572f731a8",
              "name": "template",
              "value": "={{ $json.template }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        144
      ],
      "id": "6a362480-2a75-44e1-b199-9614037ce7b0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da1bf422-5dd0-4dcc-95b2-101c5a147cb3",
              "leftValue": "={{ $json.dt }}",
              "rightValue": "Forme juridique",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2496,
        144
      ],
      "id": "1aa6e99a-fc7e-4a6b-8849-34a0fa2be351",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09714e12-9018-4aae-8da2-e53cda80a0ab",
              "leftValue": "={{ $json.dt }}",
              "rightValue": "Capital social",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        336
      ],
      "id": "7b195ecc-1a78-469d-ae44-dcb0c029197b",
      "name": "If1"
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3392,
        800
      ],
      "id": "d83f9396-3062-488c-9668-577ad34f1648",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10c3df97-56ba-4425-8177-feeade4940e0",
              "name": "Forme juridique",
              "value": "={{ $('Edit Fields').item.json.template }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        144
      ],
      "id": "e7f5e2f7-b24e-41d6-b21a-437a5a5e0d92",
      "name": "Forme juridique"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3001bc2-f24c-4143-ab91-4331f02bca5c",
              "name": "Capital",
              "value": "={{ $json.template }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        336
      ],
      "id": "4d0f3c41-ef55-4aa8-92ea-5e9704a33d46",
      "name": "Capital"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "article",
        "extractionValues": {
          "values": [
            {
              "key": "div",
              "cssSelector": "div",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        512,
        624
      ],
      "id": "387c8758-b0c0-4113-b993-471ea52a7d7a",
      "name": "HTML5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "div",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        960,
        624
      ],
      "id": "b79cb6d5-a13b-4978-8569-593ff68d078a",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "div",
        "extractionValues": {
          "values": [
            {
              "key": "div",
              "cssSelector": "div",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        736,
        624
      ],
      "id": "8653aeec-ba73-4f7e-80e4-5cb923f50471",
      "name": "HTML6"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "div",
        "extractionValues": {
          "values": [
            {
              "key": "dt",
              "cssSelector": "dt"
            },
            {
              "key": "dd",
              "cssSelector": "dd",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1184,
        624
      ],
      "id": "5319fd26-87b1-4db2-9629-cb06c44b838b",
      "name": "HTML7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "605f05c2-d554-4cd2-8373-5432b923f69d",
              "name": "dt",
              "value": "={{ $('HTML7').item.json.dt }}",
              "type": "string"
            },
            {
              "id": "3f5dfafb-8504-4f60-873f-e4f572f731a8",
              "name": "template",
              "value": "={{ $json.template }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        624
      ],
      "id": "686b573e-1101-4304-9100-206cb0fddc4c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da1bf422-5dd0-4dcc-95b2-101c5a147cb3",
              "leftValue": "={{ $json.dt }}",
              "rightValue": "Activité principale déclarée",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2496,
        624
      ],
      "id": "a287dcb8-21bc-45f2-901a-6c7c4d4d9370",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09714e12-9018-4aae-8da2-e53cda80a0ab",
              "leftValue": "={{ $json.dt }}",
              "rightValue": "Type d'activité",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        720
      ],
      "id": "c3033d77-bdac-4cb7-aa15-ef4725111b42",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "dd",
        "extractionValues": {
          "values": [
            {
              "key": "template",
              "cssSelector": "template"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2048,
        624
      ],
      "id": "cc2eab91-6927-4fc1-ab9f-628dc512f2ef",
      "name": "HTML8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1ac59b6-d99e-4466-807f-6a65957b3b04",
              "leftValue": "={{ $json.dd }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1824,
        624
      ],
      "id": "1335e5f3-9b37-4be9-816a-72562ca9faa9",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09714e12-9018-4aae-8da2-e53cda80a0ab",
              "leftValue": "={{ $json.dt }}",
              "rightValue": "Convention collective déduite",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2944,
        912
      ],
      "id": "6a6380fc-613e-40a0-aa56-9b80361b411b",
      "name": "If5"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "Forme juridique"
            },
            {
              "aggregation": "max",
              "field": "Capital"
            },
            {
              "aggregation": "max",
              "field": "Activité principale déclarée"
            },
            {
              "aggregation": "max",
              "field": "Type d'activité"
            },
            {
              "aggregation": "max",
              "field": "Convention collective déduite"
            },
            {
              "aggregation": "max",
              "field": "Chiffre d'affaires"
            },
            {
              "aggregation": "max",
              "field": "Résultats net"
            },
            {
              "aggregation": "max",
              "field": "Bilan carbone"
            },
            {
              "aggregation": "max",
              "field": "data"
            },
            {
              "aggregation": "max",
              "field": "company_name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        3616,
        912
      ],
      "id": "75e55bcc-cb2f-41fb-bc9e-8128d0f07c94",
      "name": "Summarize"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "article",
        "extractionValues": {
          "values": [
            {
              "key": "span",
              "cssSelector": "span",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2048,
        1104
      ],
      "id": "ceab1015-0ada-44fb-b03f-ab246edafef6",
      "name": "HTML10"
    },
    {
      "parameters": {
        "fieldToSplitOut": "span",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2272,
        1104
      ],
      "id": "aa4ad40e-7e26-4e7b-a319-757d7c668c12",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6358003-b12c-488e-a1aa-f38fffed8df6",
              "leftValue": "={{ $json.span }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "08fcd5d8-1757-4dc9-9985-a262e441100e",
              "leftValue": "={{ $json.span }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "ebd9cc12-fc86-4084-862c-0fdb3e6dc460",
              "leftValue": "={{ $json.span }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "3d65c780-831a-4fba-a879-5f7486854a60",
              "leftValue": "={{ $json.span }}",
              "rightValue": "4",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "b82dccf0-aa9c-4362-bb71-2067ceb96f3c",
              "leftValue": "={{ $json.span }}",
              "rightValue": "5",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "7843d104-aab8-4827-90e5-614edf8db942",
              "leftValue": "={{ $json.span }}",
              "rightValue": "6",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "3060ece6-2063-4fc3-9ad0-fc76888ef530",
              "leftValue": "={{ $json.span }}",
              "rightValue": "7",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "c6da1a68-28ba-4281-8a32-7d4bb3394cf2",
              "leftValue": "={{ $json.span }}",
              "rightValue": "8",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "72ada330-7573-4208-9970-ee807f232c32",
              "leftValue": "={{ $json.span }}",
              "rightValue": "9",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2496,
        1104
      ],
      "id": "3a352443-b899-4fc5-a2e2-57b3b019b259",
      "name": "If6"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "article",
        "extractionValues": {
          "values": [
            {
              "key": "span",
              "cssSelector": "span",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2272,
        1296
      ],
      "id": "e15c986b-ac17-47cf-b536-ce61df5eb34a",
      "name": "HTML12"
    },
    {
      "parameters": {
        "fieldToSplitOut": "span",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2496,
        1296
      ],
      "id": "7f92ddde-ab14-443f-8314-f2144f080c08",
      "name": "Split Out3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2720,
        1104
      ],
      "id": "e08e67c7-f6f5-4310-9e8d-2ca60dcbaee7",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2944,
        1296
      ],
      "id": "12c66796-09be-4929-a173-a877d9d1d0bf",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3840,
        912
      ],
      "id": "e415d871-e746-4c5b-85c9-d037884342b0",
      "name": "Limit2"
    },
    {
      "parameters": {
        "jsCode": "return items\n  // remove items containing %\n  .filter(item => !item.json.span.includes(\"%\"))\n  .map(item => {\n    let value = item.json.span;\n\n    // remove spaces\n    value = value.replace(/\\s/g, \"\");\n\n    // convert French decimal comma to dot\n    value = value.replace(\",\", \".\");\n\n    // convert to number\n    const numericValue = Number(value);\n\n    return {\n      json: {\n        value: numericValue\n      }\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        1296
      ],
      "id": "5b881894-bf40-4da6-9aba-c72eb317d316",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let value = item.json.span;\n\n  // remove spaces and %\n  value = value.replace(/\\s/g, \"\").replace(\"%\", \"\");\n\n  // convert French decimal comma to dot\n  value = value.replace(\",\", \".\");\n\n  // convert to number\n  const numericValue = Number(value);\n\n  return {\n    json: {\n      value: numericValue\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        336
      ],
      "id": "c4de4675-6194-4b24-a985-7d563cca31c0",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3001bc2-f24c-4143-ab91-4331f02bca5c",
              "name": "Type d'activité",
              "value": "={{ $json.template }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        720
      ],
      "id": "9a719893-54b2-4202-a012-54c9d224672a",
      "name": "Type d'activité"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "003c783b-891b-442f-a8fc-1383199954c5",
              "name": "Chiffre d'affaires",
              "value": "={{ $json.span }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        1104
      ],
      "id": "c1c46b05-758c-4cd0-88da-20a5a4554b63",
      "name": "Chiffre d'affaires"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3001bc2-f24c-4143-ab91-4331f02bca5c",
              "name": "Convention collective déduite",
              "value": "={{ $json.template }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        912
      ],
      "id": "cf8ee8fe-0c1d-495c-8238-21635fd69bb4",
      "name": "Convention collective déduite"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "003c783b-891b-442f-a8fc-1383199954c5",
              "name": "Résultats net",
              "value": "={{ $json.value }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        1296
      ],
      "id": "952d40ce-b956-4279-add4-f5b01dfe703f",
      "name": "Résultats net"
    },
    {
      "parameters": {
        "jsCode": "return items\n  // remove items containing %\n  .filter(item => !item.json.span.includes(\"%\"))\n  .map(item => {\n    let value = item.json.span;\n\n    // remove spaces\n    value = value.replace(/\\s/g, \"\");\n\n    // convert French decimal comma to dot\n    value = value.replace(\",\", \".\");\n\n    // convert to number\n    const numericValue = Number(value);\n\n    return {\n      json: {\n        value: numericValue\n      }\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        1104
      ],
      "id": "f53dbf95-b37a-4de0-b6cd-f3812c5fa006",
      "name": "Code in JavaScript2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "article",
              "cssSelector": "li[data-type=\"revenue\"]",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        272,
        1104
      ],
      "id": "be32cd43-e72d-4705-b29e-cf2214b6b030",
      "name": "CA"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "article",
              "cssSelector": "li[data-type=\"netIncome\"]",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        272,
        1296
      ],
      "id": "2c2b7bc5-81be-4696-a68a-688b26400661",
      "name": "R net"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10c3df97-56ba-4425-8177-feeade4940e0",
              "name": "Activité principale déclarée",
              "value": "={{ $('Edit Fields1').item.json.template }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        528
      ],
      "id": "e0021f75-d400-490f-806a-9a148fcb8ef4",
      "name": "Activité principale déclarée"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "div",
              "cssSelector": "div.co-legal-board",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        736,
        144
      ],
      "id": "47c44393-5bfa-476b-8d71-f7d076e9228d",
      "name": "forme juridique - capital"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "div",
              "cssSelector": "div.ui-tag",
              "returnValue": "attribute"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        272,
        1488
      ],
      "id": "17719f93-65ab-4f07-98b1-a4b6ad2d4c5e",
      "name": "BC"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a55386f1-8564-4d55-8db7-4497da3ac418",
              "name": "Bilan carbone",
              "value": "={{ $json.div['data-score'] }} tCO2e",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        1488
      ],
      "id": "f438665f-c0ea-4586-a903-ed4a402af692",
      "name": "Bilan carbone"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "article",
              "cssSelector": "article.ui-wrap",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        272,
        624
      ],
      "id": "0189e26d-d9f1-4105-93b0-0a851569bf6e",
      "name": "activité"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "ul",
              "cssSelector": "ul[id=\"coSovereigntyBoard\"]",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        272,
        1664
      ],
      "id": "7caf859a-b47c-4534-adf7-ecbe4ba0e071",
      "name": "SdS secteur"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "ul",
        "extractionValues": {
          "values": [
            {
              "key": "li",
              "cssSelector": "li",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2048,
        1664
      ],
      "id": "dc67a41a-ca64-4a5e-9f9d-299c7c6952b2",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "li",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2272,
        1664
      ],
      "id": "7861d4e3-780b-4ee3-9e12-06098d90d3ad",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "li",
        "extractionValues": {
          "values": [
            {
              "key": "div",
              "cssSelector": "div",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2496,
        1664
      ],
      "id": "d07d1f78-a7dc-44a8-b001-2803da3f1301",
      "name": "HTML4"
    },
    {
      "parameters": {
        "jsCode": "return items\n  .map((item) => {\n    const values = item.json.div;\n\n    if (!Array.isArray(values)) {\n      return null;\n    }\n\n    const cleanedValues = values\n      .map((value) => String(value).trim())\n      .filter((value) => value !== \"\");\n\n    const label = cleanedValues.find(\n      (value) => !/^\\d+\\/100$/.test(value) && value !== \"--/100\"\n    );\n\n    const score = cleanedValues.find((value) => /^\\d+\\/100$/.test(value));\n\n    if (!label || !score) {\n      return null;\n    }\n\n    return {\n      json: {\n        label: `${label} du secteur`,\n        score,\n      },\n    };\n  })\n  .filter((item) => item !== null);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        1664
      ],
      "id": "5ab50d4f-96a4-4142-9050-1288d23e715e",
      "name": "Score de souveraineté du secteur"
    },
    {
      "parameters": {
        "aggregate": "={{ $json.label }}{{ $json.score }}",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3168,
        1744
      ],
      "id": "0b5cbd1e-6321-4701-8b70-a2a1440d6138",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const year = item.json[\"y-2\"];\n  const scores = (item.json[\"data-scores\"] || \"\").split(\";\");\n\n  return {\n    json: {\n      \"Année score\": year,\n      \"Score territorial\": scores[0] || null,\n      \"Score social\": scores[1] || null,\n      \"Score fiscal\": scores[2] || null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        1824
      ],
      "id": "3ed041e1-8455-4573-b4db-f6dd4d77764e",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "select",
        "extractionValues": {
          "values": [
            {
              "key": "option",
              "cssSelector": "option",
              "returnValue": "attribute",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        736,
        1824
      ],
      "id": "cb51593d-cf98-40f6-8109-684456820916",
      "name": "HTML14"
    },
    {
      "parameters": {
        "fieldToSplitOut": "option",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        960,
        1824
      ],
      "id": "6976db20-ea1e-48c4-b7e2-316acdf64ec9",
      "name": "Split Out6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "baf779ee-aa1b-48de-b78c-91ea805db8cc",
              "leftValue": "={{ $('Split Out6').item.json.value }}",
              "rightValue": "={{ $json['y-2'] }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        1824
      ],
      "id": "a4250125-9bc3-4042-ada0-64570bc4d024",
      "name": "If7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1184,
        1824
      ],
      "id": "c2d3a16c-c0f0-48be-b56a-60c2a7c17459",
      "name": "currentDate"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.currentDate }}",
        "timeUnit": "years",
        "duration": -2,
        "outputFieldName": "y-2",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1824,
        1824
      ],
      "id": "6329a567-d891-4a9e-82fa-29c107275aec",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json['y-2'] }}",
        "format": "=yyyy",
        "outputFieldName": "y-2",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2048,
        1824
      ],
      "id": "a73ea617-ef0f-4ade-ab3f-969f97d76099",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d0b64e5-2368-49bf-ac5d-36805b75b87a",
              "name": "data-score",
              "value": "={{ $('Split Out6').item.json['data-score'] }}",
              "type": "string"
            },
            {
              "id": "b27fbbd2-7372-4d3c-b0b3-036167a47749",
              "name": "data-scores",
              "value": "={{ $('Split Out6').item.json['data-scores'] }}",
              "type": "string"
            },
            {
              "id": "709013aa-85f3-4d24-9c3f-bd195a1c0128",
              "name": "y-2",
              "value": "={{ $json['y-2'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2496,
        1824
      ],
      "id": "093e11e0-e769-4c80-905b-25b3e47bca3f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2944,
        1744
      ],
      "id": "aafd8f0a-4814-4de7-836e-a6553af350dd",
      "name": "Merge1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4048,
        912
      ],
      "id": "e736f4a9-53bf-43a9-bdbc-c37c899ee9b2",
      "name": "scrapped_at"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        288,
        -400
      ],
      "id": "9e327aef-c854-4e9b-995b-fe127617bf96",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        288,
        -208
      ],
      "id": "7543e2d9-0722-4b94-8b9d-de5169452042",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "select",
              "cssSelector": "select[data-co-score]",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        272,
        1824
      ],
      "id": "b37d928e-ca04-4f2d-9ed6-bf371f45a5f4",
      "name": "autre"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "h1",
              "cssSelector": "h1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        272,
        1984
      ],
      "id": "444d3401-c283-4417-9db6-36396847a12c",
      "name": "raison social"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83028a4e-5265-44eb-997a-fa2da2c58a30",
              "name": "company_name",
              "value": "={{ $json.h1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        1984
      ],
      "id": "2e76cc53-fc2d-42d5-8798-0cf42c4b2d9f",
      "name": "company name"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        960,
        -304
      ],
      "id": "f6866191-2544-4740-b7fb-8a1b04e59bdd",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1184,
        -304
      ],
      "id": "6865631e-ddeb-4602-909f-73f75503d3b2",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4496,
        -304
      ],
      "id": "552fb75f-d9bc-49b4-9233-99032b5d9df7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2048,
        -80
      ],
      "id": "84577d3a-a643-4bb3-aea7-8df2510c78d3",
      "placeholder": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2272,
        -80
      ],
      "id": "82bf2559-0340-43ca-819e-aafc53c84589",
      "name": "Wait",
      "webhookId": "f85887a0-1429-49df-9f52-b3709b2fc38e"
    },
    {
      "parameters": {
        "fileSelector": "/files/input/input.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        736,
        -304
      ],
      "id": "70491c18-cb44-4573-aa30-a6b7912564a5",
      "name": "INPUT"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/output/output.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        4992,
        -384
      ],
      "id": "c199f6f9-b35d-431e-a026-2947209e75c7",
      "name": "OUTPUT"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4768,
        -384
      ],
      "id": "22d23897-e16b-4a1a-ae23-2812ceb4f7c2",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c0b9be-4705-4392-b62f-2e10931cf363",
              "name": "company_name",
              "value": "={{ $('Limit2').item.json.max_company_name }}",
              "type": "string"
            },
            {
              "id": "f0c540b5-f3bb-43ad-850b-71caaf626c0f",
              "name": "url",
              "value": "={{ $('Loop Over Items').item.json.url }}",
              "type": "string"
            },
            {
              "id": "5350539e-8105-4652-820e-b1c135c4587a",
              "name": "legal_form",
              "value": "={{ $('Summarize').item.json.max_Forme_juridique }}",
              "type": "string"
            },
            {
              "id": "d5469e59-1025-49c1-880b-66bf94225d3b",
              "name": "capital",
              "value": "={{ $('Summarize').item.json.max_Capital }}",
              "type": "string"
            },
            {
              "id": "b9347562-3b25-4cb5-9f5a-1b2464d073ba",
              "name": "stated_primary_business_activity",
              "value": "={{ $('Summarize').item.json['max_Activité_principale_déclarée'] }}",
              "type": "string"
            },
            {
              "id": "c97538b9-fd4d-49ad-b077-85f5ef6ba741",
              "name": "type_of_business",
              "value": "={{ $('Summarize').item.json['max_Type_d\\'activité'] }}",
              "type": "string"
            },
            {
              "id": "3c7026bb-afac-4be5-94e0-3b9f1badf103",
              "name": "collective_bargaining_agreement",
              "value": "={{ $('Summarize').item.json['max_Convention_collective_déduite'] }}",
              "type": "string"
            },
            {
              "id": "d90b51c1-4e60-4a10-888b-dacdf6badf5e",
              "name": "revenue",
              "value": "={{ $('Summarize').item.json['max_Chiffre_d\\'affaires'] }}",
              "type": "string"
            },
            {
              "id": "ce8b0998-2276-4980-be7c-02925393254a",
              "name": "net_results",
              "value": "={{ $('Summarize').item.json['max_Résultats_net'] }}",
              "type": "number"
            },
            {
              "id": "c844aec2-751c-4a0e-9c08-a84e4323dfcd",
              "name": "carbon_footprint",
              "value": "={{ $('Summarize').item.json.max_Bilan_carbone }}",
              "type": "string"
            },
            {
              "id": "ba2de78b-e2dd-4392-86da-b4230e131c8c",
              "name": "other_reports",
              "value": "={{ $('Summarize').item.json.max_data }}",
              "type": "array"
            },
            {
              "id": "0f19acd9-2e84-4dc6-a05f-2fddd04c82d5",
              "name": "scrapped_at",
              "value": "={{ $('scrapped_at').item.json.currentDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4272,
        912
      ],
      "id": "bdbcac39-ce92-4ce7-ac83-d46fe8cfb268",
      "name": "prepare json"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b830a502-574f-4582-96f2-1e98992f1503",
              "name": "start_url",
              "value": "https://www.societe.com/societe/",
              "type": "string"
            },
            {
              "id": "94a6323a-d61f-40bc-9d84-0e2be2cc417b",
              "name": "end_url",
              "value": ".html",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -304
      ],
      "id": "3be17d8f-73f3-43d6-9257-bd452a70ad73",
      "name": "ini"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT REGEXP_REPLACE(LOWER(denomination_unite_legale), '\\s+', '-', 'g')\n  || '-' || siren AS url\n  FROM entreprises\n WHERE 1 = 1\n   AND denomination_unite_legale ILIKE '{{ $json.url }}'\n LIMIT 100;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1632,
        -304
      ],
      "id": "42102009-63cd-4241-93ab-e5c1ce0a7806",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "jP568FLGOsgou9lp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd1eb034-fa82-458e-97f6-0904dbf07bb5",
              "name": "for_http",
              "value": "={{ $('ini').item.json.start_url }}{{ $json.url }}{{ $('ini').item.json.end_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        -304
      ],
      "id": "1b784c26-e1c0-471b-8b10-4ad38b65ebc5",
      "name": "for_http"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2080,
        -304
      ],
      "id": "532e64a8-049b-476a-80d1-8e8bccbe5c99",
      "name": "Limit3",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const name = item.json.denomination_unite_legale || \"\";\n\n  // Transformer en format %WORD1%WORD2%...\n  const formatted = \"\" + name\n    .trim()\n    .replace(/\\s+/g, \"%\") + \"\";\n\n  return {\n    json: {\n      url: formatted\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -304
      ],
      "id": "638b76a0-8b2b-4f1b-8d84-41012f88e389",
      "name": "Code in JavaScript4"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "forme juridique - capital",
            "type": "main",
            "index": 0
          },
          {
            "node": "activité",
            "type": "main",
            "index": 0
          },
          {
            "node": "CA",
            "type": "main",
            "index": 0
          },
          {
            "node": "R net",
            "type": "main",
            "index": 0
          },
          {
            "node": "BC",
            "type": "main",
            "index": 0
          },
          {
            "node": "SdS secteur",
            "type": "main",
            "index": 0
          },
          {
            "node": "autre",
            "type": "main",
            "index": 0
          },
          {
            "node": "raison social",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "HTML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Forme juridique",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forme juridique": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capital": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTML5": {
      "main": [
        [
          {
            "node": "HTML6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML6": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML7": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Activité principale déclarée",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Type d'activité",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "HTML7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "HTML8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML8": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Convention collective déduite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML10": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML12": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Résultats net",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "scrapped_at",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type d'activité": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Chiffre d'affaires": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Convention collective déduite": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Résultats net": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Chiffre d'affaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CA": {
      "main": [
        [
          {
            "node": "HTML10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "R net": {
      "main": [
        [
          {
            "node": "HTML12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activité principale déclarée": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "forme juridique - capital": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BC": {
      "main": [
        [
          {
            "node": "Bilan carbone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bilan carbone": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "activité": {
      "main": [
        [
          {
            "node": "HTML5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SdS secteur": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "HTML4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML4": {
      "main": [
        [
          {
            "node": "Score de souveraineté du secteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score de souveraineté du secteur": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "HTML14": {
      "main": [
        [
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "currentDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "currentDate": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrapped_at": {
      "main": [
        [
          {
            "node": "prepare json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "autre": {
      "main": [
        [
          {
            "node": "HTML14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "ini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raison social": {
      "main": [
        [
          {
            "node": "company name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "company name": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INPUT": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare json": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "ini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ini": {
      "main": [
        [
          {
            "node": "INPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "for_http",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "for_http": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0bfc6d04-b8f3-46df-b97e-73132a86c2bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "003034c337c9a1da0a133fc2ab069a9a41b5a49443d3ae1bc13d3351c85a0efe"
  },
  "id": "PMmxSu7YNKagbgfB",
  "tags": []
}